.sendMe{   
    justify-content: center;
}
.div_contact_icons{
    display: flex;
    flex-direction: column;
    
    
}
.language{
    display: inherit;
    justify-content: center;
    transition: all 1s;
    transform:translateX(-100%);
}
.none{text-decoration: none;}

@media screen and (max-width:768px){
    .div_contact_icons{
        display: flex;
        flex-direction: column;
    }
    .language{
        display: inherit;
        justify-content: center;
        transition: all 2s;
        transform:translateX(0%);
    }
    
    #light .h1Contact {
        border: 5px solid rgba(137, 43, 226, 0.637);
        margin: auto;
        justify-content: center;        
        border-top: none;
        border-left: none;
        border-right: none;
        width: fit-content;
        border-radius: 10px;
    }
    #dark .h1Contact {
        border: 5px solid var(--color-secondary);
        margin: auto;
        justify-content: center;        
        border-top: none;
        border-left: none;
        border-right: none;
        width: fit-content;
        border-radius: 10px;
    }
  }
@media screen and (min-width:769px){
    .language{
        display: none;
    }
    #light .h1Contact {
        border: 5px solid rgba(137, 43, 226, 0.637);
        margin: auto;
        justify-content: center;        
        border-top: none;
        border-left: none;
        border-right: none;
        width: fit-content;
        border-radius: 10px;
    }
    #dark .h1Contact {
        border: 5px solid var(--color-secondary);
        margin: auto;
        justify-content: center;        
        border-top: none;
        border-left: none;
        border-right: none;
        width: fit-content;
        border-radius: 10px;
    }
}
