


@media screen and (max-width:767px) {
    .gif{
        width: 80%;
        aspect-ratio: 3/2;
        object-fit: contain;
        
    }
    .container{
        display: grid;
        place-items: center;
        align-items: center;
        margin-top: 30px;
        gap: 2px
    }
    
}
@media screen and (min-width:768px) {
    .container{
        display: grid;
        place-items: center;
        align-items: center;
        margin-top: 30px;
        gap: 20px
    }
}
