.about_container{
    display: inline-block;
    position:relative;
}
.image_profile{
    border-radius:50%;
    width: 30%;
}
.div_about{
    display: flex;
    flex-direction: column;
}

.h3_click{
    cursor: pointer;
    margin: auto;    
    font-weight:900;    
    border-radius: 10px;   
    width: fit-content;
}
#light .h3_click:hover{
    animation: pulse 1.5s infinite;
}
#light .h3_click{
    border: 1px solid var(--color-primary);
    box-shadow: 0 5px 5px 5px var(--color-primary);
}
#dark .h3_click{
    border: 1px solid var(--color-secondary);
    box-shadow: 0 5px 5px 5px var(--color-secondary);
}
#dark .h3_click:hover{
    animation: pulseDark 1.5s infinite;
}
@keyframes pulse {
    0%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-primary);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 5px 5px 6px var(--color-primary);
    } 
      100%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-primary);
    }
}
@keyframes pulseDark {
    0%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-secondary);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 5px 5px 6px var(--color-secondary);
    } 
      100%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-secondary);
    }
}
.h3_complete{
    transition: all 1s;    
}


@keyframes typing {
    from {width: 0;}
    
}
@keyframes blink {
    50%{border-color: transparent;}
    
}
@media screen and (max-width:767px) {
    .toHide{
        animation-name: toHide;
        animation-duration: 1s;
        opacity: 0;
    }
    .toView{
        display:block;
        animation-name: toView;
        animation-duration: 1s;
        opacity: 1;
    }
    .image_profile{
        border-radius:50%;
        width: 50%;
    }
    .machine_ES{   
    
        white-space: nowrap;
        border-right: 4px solid;
        width: 100vw;
        animation: typing 2s steps(30),blink .5s infinite step-end alternate;
        overflow: hidden;
        
    }

  }