@keyframes pulse {
    0%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-primary);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 5px 5px 6px var(--color-primary);
    } 
      100%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-primary);
    }
}
.button{
    cursor: pointer;
    margin: auto;    
    font-weight:900;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px var(--color-primary);
    width: fit-content;
    font-size: xx-large;

}
.button:hover{
    animation: pulse 1.5s infinite;
}

@media screen and (max-width:767px) {
    .button{
        cursor: pointer;
        margin: auto;    
        font-weight:900;
        border: 1px solid var(--color-primary);
        border-radius: 10px;
        box-shadow: 0 5px 5px 5px var(--color-primary);
        width: fit-content;
        font-size: xx-large;

    }
    .button:hover{
        animation: pulse 1.5s infinite;
    }

}