@keyframes pulse {
    0%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-primary);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 5px 5px 6px var(--color-primary);
    } 
      100%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-primary);
    }
}
@keyframes pulseDark {
    0%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-secondary);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 5px 5px 6px var(--color-secondary);
    } 
      100%{
        transform: scale(.99);
        box-shadow: 0 5px 5px 5px var(--color-secondary);
    }
}

.button{
    cursor: pointer;
    margin: auto;    
    font-weight:900;    
    border-radius: 10px;    
    width: fit-content;
    font-size: xx-large;

}
#light .button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    box-shadow: 0 5px 5px 5px var(--color-primary);
    border: 1px solid var(--color-primary);
}
#dark .button{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    box-shadow: 0 5px 5px 5px var(--color-secondary);
    border: 1px solid var(--color-secondary);
}
#light .button:hover{
    animation: pulse 1.5s infinite;
}
#dark .button:hover {
    animation:pulseDark 1.5s infinite;
}

@media screen and (max-width:767px) {
    .button{
        cursor: pointer;
        margin: auto;    
        font-weight:900;        
        border-radius: 10px;        
        width: fit-content;
        font-size: x-large;

    }
    #light .button {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        box-shadow: 0 5px 5px 5px var(--color-primary);
        border: 1px solid var(--color-primary);
    }
    #dark .button{
        color: var(--color-secondary);
        background-color: var(--color-primary);
        box-shadow: 0 5px 5px 5px var(--color-secondary);
        border: 1px solid var(--color-secondary);
    }
    #light .button:hover{
        animation: pulse 1.5s infinite;
    }
    #dark .button:hover {
        animation:pulseDark 1.5s infinite;
    }

}