@import url(theme.css);
body{
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
.darkmode{
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hidden{
  opacity: 0;
  filter: blur(5px);  
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);  
}


@keyframes toView {
  0%{
      opacity: 0;        
  }
  100%{
      opacity: 1;
  }
}
@keyframes toHide{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      display: none;
  }
}

.toHide{
  animation-name: toHide;
  animation-duration: 1s;
  opacity: 0;
}
.toView{
  display:flex;
  animation-name: toView;
  animation-duration: 2s;
  opacity: 1;
}
.rol:nth-child(1){
  transition-delay: 500ms;
}
.rol:nth-child(2){
  transition-delay: 600ms;
}
.rol:nth-child(3){
  transition-delay: 700ms;
}
.rol:nth-child(4){
  transition-delay: 800ms;
}

/*  
Phone querys
*/
@media screen and (max-width:768px){
  .logoss {
    width: 60%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }
  .algo{
    display: grid;
    place-items: center;
    align-content: center;  
  }
}
@media screen and (min-width:769px){

  .logoss {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit:contain;
    mix-blend-mode: color-burn;
  }
  .algo{
    display: grid;
    place-items: center;
    align-content: center;  
  }
  .rols{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    align-content: center;
  }
  
}